
.nav a {
    color:rgb(6, 6, 12);
    font-weight: bold;

}

.nav ul {
    display: flex;
    gap: 15rem;
    flex-wrap: wrap;
    justify-content: center;
    text-align: right;
    list-style-type: None;
    margin: 0;
    padding:0;
}